<section>
    <div>
        <span class="subPageGrid">
            <h1 class="item7"> <%- title %>  </h1>
            <h1 class="item8"> <image src = "<%- jobs[0][3] %> " height="25px"></image> </h1>
            <h2 class="item2"> Current Open Positions </h2>
            <h2 class="item3"> <span> <%- jobs.length %></span>  </h2>
            <p class="item6">Table of openings</p>
        </span>
    </div>
    <table>
        <tbody>
            <colgroup>
                <col span="1">
                <col span="1">
                <col span="1">
            </colgroup>  
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>City</th>
                <th>Country</th>
            </tr>
            <% for( let index = 0; index < jobs.length; index++ ) { %>
                <tr>
                    <td> <%- index +1 %> </td>
                    <td> <a href="<%- jobs[index][4] %> "> <%- jobs[index][0] %> </a> </td>
                    <td> <%- jobs[index][1] %> </td>
                    <td> <%- jobs[index][2] %> </td>
            <% } %> 
                </tr>
            </tbody>
    </table>
</section>
