<section>
    <div>
        <span class="subPageGrid">
            <h1 class="item7"> All Jobs Containing  </h1>
            <h1 class="item8"> <span><%- searchString %></span>  </h1>
            <h2 class="item2"> Current Open Positions  </h2>
            <h2 class="item3"> <span> <%- jobsAndAttributes.length %></span>  </h2>
        </span>
    </div>
    <table>
        <tbody>
            <colgroup>
                <col span="1">
                <col span="1">
                <col span="1">
                <col span="1">
                <col span="1">
            </colgroup>  
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Company</th>
                <th>City</th>
                <th>Country</th>
            </tr>
        <% for( let index = 0; index < jobsAndAttributes.length; index++ ) { %>
            <tr>
                <td> <%- index +1 %> </td>
                <td> <a href="<%- jobsAndAttributes[index][4] %> "> <%- jobsAndAttributes[index][0] %> </a> </td>
                <td> <%- jobsAndAttributes[index][5] %> <image src = "<%- jobsAndAttributes[index][3] %> " height="25px"></image> </td>
                <td> <%- jobsAndAttributes[index][1] %> </td>
                <td> <%- jobsAndAttributes[index][2] %> </td>
        <% } %> 
            </tr>
        </tbody>
    </table>
</section>
