<body>

    <h1> <%- title %> </h1>
    <h2> Open Positions: <%- jobCount %> </h2>
    <h2> Companies Hiring: <%- companyCount %><br></h2>
    <table>
        Table of Openings per Company Sorted Most to Least:
        <tr>
            <th>COMPANY NUMBER</th>
            <th>COMPANY NAME</th>
            <th>AVAILABLE JOBS</th>
        </tr>
        <% for( let index = 0; index < companyFreq.length; index++ ) { %>
            <tr>
                <td> <%- index +1 %> </td>
                <td> <a href="/company/<%- companyFreq[index][0] %>"> <%- companyFreq[index][0] %> </a> </td> 
                <td> <%- companyFreq[index][1] %> </td>
         <% } %> 
            </tr>
    </table>

</body>