<section>
    <div>
        <h1> All Jobs Containing:  <span><%- searchString %></span>  </h1>
        <h2> Current Open Positions: <span> <%- jobsAndAttributes.length %></span>  </h2>
        <p>Table of openings</p>
    </div>
    <table>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Company</th>
            <th>City</th>
            <th>Country</th>
        </tr>
        <% for( let index = 0; index < jobsAndAttributes.length; index++ ) { %>
            <tr>
                <td> <%- index +1 %> </td>
                <td> <a href="<%- jobsAndAttributes[index][4] %> "> <%- jobsAndAttributes[index][0] %> </a> </td>
                <td> <%- jobsAndAttributes[index][5] %> <image src = "<%- jobsAndAttributes[0][3] %> " height="25px"></image> </td>
                <td> <%- jobsAndAttributes[index][1] %> </td>
                <td> <%- jobsAndAttributes[index][2] %> </td>
        <% } %> 
            </tr>
    </table>
</section>
