<section>
    <div>
        <span class="homeGrid">
            <h1 class="item1"> <%- title %> </h1>
            <h2 class="item2"> Open Positions </h2>
            <h2 class="item3"><span> <%- jobCount %></span></h2>
            <h2 class="item4"> Companies Hiring </h2>
            <h2 class="item5"><span ><%- companyCount %> </span></h2>
        <p class="item6">Openings per company sorted most to least</p>
        </span>
    </div>
    <table>
        <tbody>
            <colgroup>
                <col span="1">
                <col span="1">
                <col span="1">
            </colgroup>  
            <tr>
                <th>#</th>
                <th>Company</th>
                <th>Available Positions</th>
            </tr>
            <% for( let index = 0; index < companyFreq.length; index++ ) { %>
                <tr>
                    <td> <%- index +1 %> </td>
                    <td> <a class="company" href="/company/<%- companyFreq[index][0] %>"> <%- companyFreq[index][0] %> </a> </td> 
                    <td> <%- companyFreq[index][1] %> </td>
            <% } %> 
                </tr>
        </tbody>
    </table>
</section>
