<body>
    <h1> shiny <%- pokemon %> </h1>
    <img src="<%- image %> ">
    <h1> no. <%- title %>  </h1>
    <h1> HT <%- height %> ft </h1>
    <h1> WT <%- weight %> lb </h1>
    <p> <%- blurb %> </p>
</body>